.list {
    list-style: none;
    display: flex;
    margin-bottom: 20px;

    .item {
        cursor: pointer;
        margin-right: 10px;
        transition: color 0.2s ease-in;

        &:hover {
            color: aqua;
        }

        .home {
            color: dimgray;
            font-size: 14px; 
            text-decoration: none;
        }

        .router-link-active {
            color: darkturquoise;
        }
        
    }
}