<div class="dropdown">
    <button 
        class="btn-dropdown btn-close"
        (click)="closeMenu()"
    >Закрыть</button>

    <div class="dropdown-product">
        <ul class="dropdown-list">
            <li *ngFor="let item of cartService.getCart()" class="dropdown-item item">
                <div class="item-thing">
                    <img class="img-thing" [src]="item.product.pictureAddress" [alt]="item.product.header">
            
                    <p class="info-thing">
                        <span>Количество: {{item.count}}</span>
                        <span>Название: {{item.product.header}}</span>
                        <span>Рейтинг: {{item.product.rating}}</span>
                        <span>Цена: {{item.product.price | currency:'RUB '}}</span>
                    </p>
                </div>
            
                <button (click)="cartService.removeProduct(item.product.id)" class="btn-dropdown btn-del1">X</button> 
            </li>
        </ul>

        <button 
            (click)="cartService.orderAllItems()"
            class="btn-dropdown"
        >Оформить заказ</button>
        <button 
            (click)="cartService.deleteAllItems(0)"
            class="btn-dropdown btn-del"
        >Удалить всё</button>
    </div>
</div>
